* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter';
    scroll-behavior: smooth;
}



/************************* scrol **********************/

body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4cb5f9;    
    border-radius: 20px;       
   
  }


/* ########################## CABEÇALHO #########################*/


header {
    /* FUNDO CINZA DO MENU */
    position: fixed;
    background-color: #282828;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.nav-bar {
    text-align: center;
    padding-top: 30px;
}

.nav-bar ul {
    margin: 0;
    padding: 0;

}

.nav-bar ul li {
    display: inline;
    margin-right: 50px;
}

.nav-bar ul li a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Inter' sans-serif;
    font-weight: 800;
    color: white;
}

.nav-bar a:hover {
    color: #4cb5f9
}

.home {
    background-color: #060407;
    background-image: url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

}

/************************** LOGO YURI ASSIS ************************/

.logo {
    margin-left: 100px;
}

.yuriassis-logo h1 {
    font-family: 'Jockey One', sans-serif;
    font-size: 150px;
    color: white;
    width: 570px;
    height: 167px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 2s;
    transform-origin: 10% 50%
}

.yuriassis-logo h1:hover {
    transition: 2s;
    transform: scale(1.1);
    color: #097AFF;
}

/********************* LOGO FRONT-END DEVELOPER ********************/
.frase-logo {
    width: 900px;
    display: flex;

}

.linha-logo {
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    line-height: 0;
    width: 245px;
    height: 20px;
    color: white;
    font-size: 40px;
    margin-left: 16px;



}

.front-end {
    font-family: 'Jockey One', sans-serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 10px;
    width: 400px;


}




.developer-blue {
    font-family: 'Jockey One', sans-serif;
    color: #097AFF;
}


/********************* SECTION SOBRE ********************/

.sobre {
    background-color: #5b5b5b;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.titulo-sobre {
    margin-top: 150px;
}

h3 {
    color: white;
    font-family: 'Jockey One', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    
}

.conteudo-sobre{
    display: flex;
}

.foto-perfil img {
    width: 400px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(76, 181, 249, 1));
    filter: drop-shadow(0px 0px 10px rgba(76, 181, 249, 1));
    margin-right: 15px;
}

.texto-sobre{
    width: 700px;
}

.texto-sobre p {
    color: white;
    font-size: 20px;
    margin-top: 100px;;
}

/********************* SECTION SKILLS ********************/
.skills {
    background-color: #141414;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.titulo-skill {
    margin-top: 150px;
}


.area-card{
    display: flex;

}
.cards {
    background-color: #5b5b5b;
    width: 300px;
    height: 150px;
    margin: 20px;
    border-radius: 20px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(76, 181, 249, 1));
    filter: drop-shadow(0px 0px 10px rgba(76, 181, 249, 1));
    margin: 130px 80px 20px 0;
    text-align: center;
    align-items: center;
}

.cards p{
    color: white;
    font-family: 'Jockey One', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 25px;
    cursor: pointer;
}

.cards:hover {
    background-color: black;
}



/********************* SECTION PROJETOS ********************/

.projetos {
    background-color: #5b5b5b;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.texto-projeto {
    margin-top: 150px;
}

.cards {
    
    
}

.cards p{
    
    
}




/********************* SECTION CONTATO ********************/
.contato {
    background-color: #141414;;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.texto-contato {
    margin-top: 150px;
}

.icone-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.icone-contato img {
    width: 100px;
    margin: 0 80px;
    transition-duration: 2s;
    transform-origin: 10% 50%;
    
}

.icone-contato img:hover {
    transition: 2s;
    transform: scale(1.5);
}



/******************* MOBILE ******************/

@media screen and (max-width: 748px) {

    header {
        position: fixed;
        background-color: #282828;
        width: 100%;
        height: 180px;
    }

    .nav-bar {
        margin-top: 40px;
    }

    .nav-bar ul li {
        margin-right: 10px;
    }

    .nav-bar ul li a {
        font-size: 30px;
    }

}